body {
            background-color: rgb(8, 145, 145);
        }
        h1 {
                        color: rgb(188, 150, 224);
            text-align: center;        
        }
        p {font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: medium;
            font-weight: 100;
            flood-color: rgb(186, 212, 212);

        }

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
            padding-bottom: 5px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #111;
            color: #fff;
            text-align: center;
            padding: 5px;
        }

        .navbar {
            background-color: azure;
            padding: 5px;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px
            margin: 0;
            padding: 0;
        }

        .nav-links a {
            color: #111;
            text-decoration: double;
            font-weight: 300;
        }

        .nav-links li {
            margin-right: 20px;
        }